<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Reporte</strong></ion-title>
    <ion-buttons slot="end" *ngIf="!vendedor">
      <ion-chip color="dark" (click)="resetReport()">
        <ion-label>Reiniciar</ion-label>
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><strong>Reporte</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mat-elevation-z8 m-2">
        <ion-item>
          <ion-label> <strong>Ventas:</strong> 
          </ion-label>
        </ion-item>
        <ion-grid >
          <ion-row class="ion-justify-content-between">
            <ion-col size="1"></ion-col>
            <ion-col  *ngFor="let encabezado of encabezados" class="text-center">
                <p> <strong>{{encabezado}}</strong>  </p>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between border-buttom"
          *ngFor="let venta of ventas, let i = index">
              <ion-col size="1" class="text-center" >
                  <ion-icon (click)="openModalVenta(venta)" color="primary" name="eye" class="icon-venta"></ion-icon>
              </ion-col>
              <ion-col  class="text-center">
                <p> <strong>{{venta.numero}}</strong>  </p>
              </ion-col>
              <ion-col  class="text-center">
                <p> <strong>{{venta.fecha | date:'medium'}}</strong>  </p>
              </ion-col>
              <ion-col  class="text-center">
                <p> <strong>{{venta.productos.length}}</strong>  </p>
              </ion-col>
              <ion-col class="text-center">
                <p> <strong>${{(venta.iva).toFixed(2)}}</strong>  </p>
              </ion-col>
              <ion-col class="text-center">
                <p> <strong>${{(venta.total).toFixed(2)}}</strong>  </p>
              </ion-col>
          </ion-row>
        </ion-grid>
  </div>
</ion-content>


<ion-footer>
  <div class="mat-elevation-z8 m-2">
    <ion-grid >
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label> <strong>Valores:</strong> 
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
          <ion-col size="1"></ion-col>
          <ion-col  *ngFor="let encabezado of encabezadosValores" class="text-center">
              <p> <strong>{{encabezado}}</strong>  </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="text-center" >
        </ion-col>
        <ion-col  class="text-center">
        </ion-col>
        <ion-col  class="text-center">
        </ion-col>
        <ion-col  class="text-center">
          <p> <strong>{{valores.productos}}</strong>  </p>
        </ion-col>
        <ion-col class="text-center">
          <p> <strong>${{(valores.iva).toFixed(2)}}</strong>  </p>
        </ion-col>
        <ion-col class="text-center">
          <p> <strong>${{(valores.total).toFixed(2)}}</strong>  </p>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-footer>