.icon-venta {
  font-size: 30px;
}


ion-col {
  align-self: center;
}

ion-row {
  border-bottom: 1px solid #343a40;
  background: #f8f9fa;
  margin: 5px;
  padding: 0px;
}

p {
  margin: 0px;
  color: black;
}