table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  
  td, th {
    width: auto;
    max-width: 100px;
    min-width: 50px;
    text-align: center !important;
  }

  th {
    font-weight: bold;
  }

.red{
  background: #dc3545;
  
  td{
    color: white !important;
    
  }
  
}

.yellow{
  background: #ffc107;
}

.naranja{
  background: #fc9700;
  
  td{
    color: white !important;
    
  }
}